<ion-header>
  <ion-navbar>
    <ion-title>
      stroop
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
  <div class="header">
    <div id="countdown">
      <div id="countdownNumber"></div>
      <svg>
        <circle r="18" cx="20" cy="20"></circle>
      </svg>
    </div>
    <div class="score">score : {{ score }}</div>
  </div>
  <div class="items">
    <div class="icon">
      <img *ngIf="icons === 0" src="../../assets/imgs/cancel.png" alt="" />
      <img *ngIf="icons === 1" src="../../assets/imgs/checked.png" alt="" />
    </div>
    <p class="item" ngClass="{{ items.color }}">{{ items.item }}</p>
  </div>
  <ion-grid>
    <div class="barButton">
      <button
        class="buttonResponse"
        ion-button
        (click)="onAnswer($event, true)"
      >
        oui
      </button>
      <button
        class="buttonResponse"
        ion-button
        (click)="onAnswer($event, false)"
      >
        non
      </button>
    </div>
  </ion-grid>
</ion-content>
